body {
  background: linear-gradient(0deg, #de2d26, white, #31a354);
  background-size: 100% 200%;
  animation: gradient 0.75s ease-in-out infinite;
  animation-direction: alternate;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
table {
  font-size: 2em;
  margin: auto;
  background: white;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
th, td {
  padding: 0.5em;
}
tr > td:last-of-type {
  text-align: right;
}
